.wrapper {
    background-color: inherit;
    padding-top: 50px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 430px;
    @media (max-width: 500px) {
        padding-left: 1rem;
        padding-right: 1rem;
        height: 170px;
    }
}

.container {
    @media (max-width: 500px) {
        width: 100%;
    }
}

.button {
    @media (max-width: 500px) {
        width: 100%;
        font-size: 0.875rem;
    }
}
