.header {
    background-color: var(--background-color-header);
    color: var(--color-title);
    padding: 1rem 1.8rem .9rem 1.5rem;
}

.breadcrumb {
    a {
        font-size: .875rem;
        line-height: 1.5;
    }
}
