.form {
    margin-top: 64px;
    margin-left: 85.5px;
    margin-right: 85.5px;

    & > :nth-child(3) {
        margin-bottom: 4rem;
        @media (max-width: 991px) {
            margin-bottom: 2.25rem;
        }
        @media (max-width: 400px) {
            margin-bottom: 2.2rem;
        }
    }
    & > :nth-child(4) {
        margin-bottom: 4rem;
        @media (max-width: 991px) {
            margin-bottom: 2.25rem;
        }
        @media (max-width: 400px) {
            margin-bottom: 2.2rem;
        }
    }

    @media (max-width: 991px) {
        margin-bottom: 2rem;
    }

    @media (max-width: 800px) {
        margin-top: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }


    @media (max-width: 400px) {
        margin-bottom: 0rem;
    }

    :global {
        .ant-col-16 {
            max-width: 100%;
            flex: 0 0 100%;
        }

        .ant-input-group-addon {
            padding: 0 0.77rem;
        }

        .ant-anchor-ink {
            &::before {
                display: none;
            }
        }
        .ant-anchor-link {
            @media (max-width: 400px) {
                padding: 2px 0 2px 2px;
            }
        }
        .ant-row {
            flex-direction: column-reverse;
        }

        .ant-form-item-label > label::after {
            display: none;
        }

        .ant-input-group-wrapper-status-error .ant-input-group-addon {
            color: var(--color-title);
            border-right-color: var(--color-addon-border);
        }
        .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
            border-left-color: var(--color-addon-border);
        }
    }
}

.input {
    width: 100%;
    :global {
        .ant-input {
            font-size: 14px;
        }
    }
}

.button {
    width: 100%;

    @media (max-width: 400px) {
        font-size: 0.875rem;
    }
}

.password_helper {
    display: block;
    font-size: 0.75rem;
    padding-bottom: 0px;
    line-height: 1rem;
    text-align: left;
    letter-spacing: 0.35px;
    @media (max-width: 991px) {
        line-height: 1.57em;
    }
    @media (max-width: 400px) {
        line-height: 1.57em;
    }
}
