.panel {
    box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 0.05), 0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 6px 16px 0 rgba(0, 0, 0, 0.08);

    :global {
        .ant-drawer-header {
            flex-direction: column;
            gap: 1rem;
            align-items: initial;
        }

        h4.ant-typography {
            margin-bottom: 0;
        }

        .ant-drawer-header-title {
            flex-direction: row-reverse;
            width: 100%;
        }

        .ant-drawer-title {
            font-weight: 500;
            font-size: 20px;
            color: var(--color-title);
        }

        .ant-drawer-header {
            border-bottom: none;
        }
    }
}
