.container {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.character {
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-addon-border);
  font-size: .875rem;
  &--error {
  border: 1px solid var(--color-error);
  }
}

.character--inactive {
  background-color: inherit;
}

.character--selected {
  outline: none;
}

.character--filled {
  color: inherit;
}