:root {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgb(0, 0, 0);

    --background-main-page-image: url('/src/assets/images/main_page_light.jpg');
    --background-auth-page-image: url('/src/assets/images/auth_page_light.png');
    --background-auth-page-blure: rgba(121, 156, 212, 0.5);
    
    --backgroud-color-element: #fff;
    --background-color-header: #f0f5ff;

    --color-elements: #061178;
    --color-title: #262626;
    --color-info: #8c8c8c;
    --color-grey-6: #BFBFBF;
    --color-error: #FF4D4F;
    --color-primary: #2f54eb;
    --color-exit-icon: #000;
    --color-addon-border: #D9D9D9;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    box-sizing: border-box;
    letter-spacing: 0.5px;
}

a {
    font-size: 1rem;
}

@media (max-width: 400px) {
    a {
        font-size: 0.875rem;   
    }
}

body,
html {
    width: 100%;
    height: 100vh;
}

#root {
    width: 100%;
    height: 100vh;
    color: var(--color-title);
}

.ant-menu-inline .ant-menu-item:not(:last-child) {
    margin-bottom: 18px;
}

.ant-menu-vertical .ant-menu-item:not(:last-child) {
    margin-bottom: 18px;
}

.ant-menu-inline .ant-menu-item {
    margin-left: -6px;
}

.ant-page-header.has-breadcrumb {
    padding-top: 0;
}

@media (max-width: 576px) {
    .ant-menu-inline .ant-menu-item {
        margin-left: -15px;
        width: 130%;
    }
}

@media (max-width: 995px) {
    .ant-card-head-title {
        white-space: initial;
    }
}

@media (max-width: 995px) {
    .ant-page-header-content {
        padding-top: 12;
    }
}

@media (max-width: 576px) {
    .ant-card-body {
        padding: 15px;
    }
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Regular.ttf') format('tff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Medium.ttf') format('tff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Bold.ttf') format('tff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

h1 {
    margin: 0;
}
